.fb-auth {
  height: 85vh;
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-wrapper {
  display: flex;
  width: 980px;
}

.auth-wrapper .auth-left {
  transform: translate(0px, 60px);
}

.auth-wrapper .auth-left img {
  width: 300px;
  transform: translate(-35px, 0px);
}

.auth-wrapper .auth-left h2 {
  width: 80%;
  font-size: 200;
  font-size: 28px;
  font-family: inherit;
  transform: translate(0px, -18px);
}

.auth-box {
  width: 395px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
}

.auth-box .auth-form {
  margin-bottom: 15px;
  position: relative;
}
.auth-box .auth-form svg {
    position: absolute;
    right: 5%;
    top: 32%;
    font-size: 20px;
    cursor: pointer;
}

.auth-box .auth-form input {
  width: 100%;
  height: 50px;
  font-size: 17px;
  padding: 14px 16px;
  border: 1px solid var(--bg-tertiary);
  border-radius: 6px;
  font-weight: 200;
  font-family: inherit;
}

.auth-box .auth-form input:focus {
  border-color: var(--blue-color);
}

.auth-box .auth-form button {
  width: 100%;
  height: 50px;
  font-size: 17px;
  border: 1px solid var(--bg-tertiary);
  border-radius: 6px;
  background-color: var(--blue-color);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s;
}

.auth-box .auth-form button:hover {
  background-color: var(--blue-color-hover);
}

.auth-box a {
  text-align: center;
  color: var(--blue-color);
  font-weight: 600;
}

.auth-box > button {
  width: 60%;
  height: 50px;
  font-size: 17px;
  border: 1px solid var(--green-color);
  border-radius: 6px;
  background-color: var(--green-color);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.1s;
  margin: auto;
}

.auth-box > button:hover {
  background-color: #36a420;
  border: 1px solid #36a420;
}

.auth-right p {
  text-align: center;
  margin: 20px 0px;
  font-size: 14px;
}

.auth-right p a {
  font-weight: 700;
  font-family: SegoeUI;
}

.fb-footer {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 0px;
}

.footer-wrapper {
  width: 980px;
}

.footer-wrapper .footer-top ul {
  display: flex;
  gap: 15px;
  font-size: 13px;
  color: #8a8d91;
}

.footer-wrapper .footer-bottom ul {
  display: flex;
  gap: 7px;
  font-size: 13px;
  color: #8a8d91;
  flex-wrap: wrap;
}

.fb-footer p {
  font-size: 13px;
  color: #8a8d91;
  margin-top: 25px;
}