.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.comment {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}
.comment-left {
  width: 8.5%;
}
.comment-left img {
  width: 100%;
  border-radius: 50%;
}

.commenter-name {
  background: #f0f2f5;
  padding: 8px 10px;
  border-radius: 15px;
}

.comment-time {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}

.send-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin: 10px 20px;
}
.comment-profile {
  width: 8.5%;
}
.comment-profile img {
  width: 100%;
  border-radius: 50%;
}
.send-comment input {
  width: 100%;
  height: 36px;
  padding: 0px 16px;
  border: none;
  background: #f0f2f5;
  border-radius: 25px;
  font-size: 16px;
}
.send-comment button {
  width: 10%;
  background: var(--blue-color);
  border: none;
  border-radius: 50%;
  padding: 6px 0px;
  line-height: 0px;
  cursor: pointer;
}

.send-comment button svg {
  color: white;
  font-size: 20px;
}
