.button {
  margin: 12px 20px 18px;
}
.button button {
  width: 100%;
  margin: auto;
  background: #1b74e4;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: none;
  height: 38px;
  border-radius: 5px;
  cursor: pointer;
}
.post-modal-body {
  min-height: 270px;
  max-height: 80vh;
  padding: 5px 20px;
}
