.reset-area {
  height: 650px;
  background-color: #e9ebee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-wrapper {
  width: 500px;
}

.reset-box {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 3px 5px rgba(52, 72, 84, 0.2);
  border-radius: 8px;
}
.reset-box-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
}
.reset-box-header span {
  font-size: 20px;
  font-weight: bold;
}

.reset-body {
  padding: 20px 15px;
}

.reset-body p {
  font-size: 17px;
  margin-bottom: 10px;
}

.code-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.code-box input {
  height: 50px;
  padding: 0px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 24px;
  width: 50%;
}

.code-box svg {
  position: absolute;
  right: 5%;
  top: 28%;
  font-size: 22px;
  cursor: pointer;
}

.reset-footer {
  padding: 15px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset-footer a {
  color: var(--blue-color);
  font-size: 14px;
}
.reset-footer a:hover {
  text-decoration: underline;
}

.reset-btn {
  display: flex;
  gap: 10px;
}

.reset-btn a {
  padding: 8px 20px;
  border-radius: 6px;
  display: inline-block;
  font-size: 14px;
}

.reset-btn a:hover {
  text-decoration: none;
}

.reset-btn .cancel {
  background-color: #e9ebee;
  color: #333;
  font-weight: bold;
}

.reset-btn .continue {
  background-color: var(--blue-color);
  color: #fff;
  font-weight: bold;
}
